<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="server=DESKTOP-UPNNGRH\MARGOSQLSERVER;database=itspRoute;uid=sa;password=Mty011gp" />
        <add name="Route66.Properties.Settings.itspRouteConnectionString"
            connectionString="Data Source=DESKTOP-UPNNGRH\MARGOSQLSERVER;Initial Catalog=itspRoute;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>